<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28BBFE881F1759F2007D475C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28BBFEA11F1759F3007D475C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28BBFEAC1F1759F3007D475C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
